<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="CA_ThumbPrintSlave" value="0a76b16c5eff2e78155776f439b603ce73617f0b" />
		<add key="ModbusMode" value="Slave"/>
	</appSettings>
</configuration>